body{
    
    background-image: url("2.jpg");
    
}

.res{
    padding: 3px;
    margin: 2px;
    text-align: center;
    color: #1f1918;
    font-size: 24px;
}
h1{
    
    color: #ffffff;
    text-align: center;
    font-family: Times New Roman;
    font-size: 30px;
   }
h2{
    background-color: #f942f03b;
    color: #ffffff;
    text-align: center;
    font-family: Times New Roman;
    font-size: 30px;
   }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 15%;
}
